@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CatResponse>

@{
	ViewBag.Title = "Your Cats";
}


<div class="welcome-text">Your Cats!</div>

<a asp-controller="Cat" asp-action="CreateCat">Create cat</a>
<br />

@foreach (var cat in Model)
{
	<div>
		<strong>Name:</strong> @cat.Name <br />
		<strong>Age:</strong> @cat.Age <br />
		<strong>Breed:</strong> @cat.Breed <br />
		<strong>Color:</strong> @cat.Color <br />
		<strong>Gender:</strong> @cat.Gender <br />
		<strong>Weight:</strong> @cat.Weight kg <br />


		<form asp-controller="Cat" asp-action="EditCat" method="get">
			<input type="hidden" name="catId" value="@cat.Id" />
			<button type="submit">Edit</button>
		</form>

		<form method="post" asp-controller="Cat" asp-action="DeleteCat">
			<input type="hidden" name="catId" value="@cat.Id" />
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
		<br />
	</div>
}
