@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CatResponse>

@{
	ViewBag.Title = "Your Cats";
}


<div class="welcome-text">Your Cats!</div>

<a asp-controller="Cat" asp-action="CreateCat" class="btn btn-primary">Create cat</a>
<br />

<div class="blocks-container">
	@foreach (var cat in Model)
	{
		<div class="post-block">
			<strong>Name:</strong> @cat.Name <br />
			<strong>Age:</strong> @cat.Age <br />
			<strong>Breed:</strong> @cat.Breed <br />
			<strong>Color:</strong> @cat.Color <br />
			<strong>Gender:</strong> @cat.Gender <br />
			<strong>Weight:</strong> @cat.Weight kg <br />
			
			
			<div class="btn-container">
				<form asp-controller="Barf" asp-action="ShowBarf" method="get">
					<input type="hidden" name="catId" value="@cat.Id" />
					<button type="submit" class="btn">Calculate Barf</button>
				</form>

				<form asp-controller="Cat" asp-action="EditCat" method="get">
					<input type="hidden" name="catId" value="@cat.Id" />
					<button type="submit" class="btn">Edit</button>
				</form>

				<form asp-action="DeleteCat" asp-route-catId="@cat.Id" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>


		</div>
	}
</div>


