@model List<PostResponse>

@{
	ViewBag.Title = ViewBag.Category;
	Layout = "_Layout";
}

<div class="welcome-text">@ViewBag.Category</div>

<a asp-controller="Post" asp-action="CreatePost" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary">Create Post</a>


@foreach (var post in Model)
{
	<div>
		<strong>@post.Title</strong>
		<p>@post.CreatedAt</p>
		<p><strong>Author:</strong> @post.AuthorName</p>
		<div>@post.Content</div>

		<form asp-controller="Post" asp-action="EditPost" method="get">
			<input type="hidden" name="postId" value="@post.Id" />
			<button type="submit">Edit</button>
		</form>

		<form method="post" asp-controller="Post" asp-action="DeletePost">
			<input type="hidden" name="postId" value="@post.Id" />
			<input type="hidden" name="categoryId" value="@post.CategoryId" />
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>

		<form method="get" asp-controller="Comment" asp-action="GoToComments">
			<input type="hidden" name="Id" value="@post.Id" />
			<input type="hidden" name="categoryId" value="@post.CategoryId" />
			<input type="hidden" name="content" value="@post.Content" />
			<input type="hidden" name="createdAt" value="@post.CreatedAt" />
			<input type="hidden" name="Title" value="@post.Title" />
			<input type="hidden" name="authorId" value="@post.AuthorId" />

			<button type="submit" class="btn btn-danger">Go to comments</button>
		</form>


		<br />
	</div>
}

<div>
	<a href="@Url.Action("ShowCategories", "Category")" class="btn btn-secondary">Go back to Categories</a>
</div>



