@model List<CategoryResponse>
@{
	ViewBag.Title = "Categories Page";
}
 
<div class="welcome-text">Categories</div>

@if (User.IsInRole("Admin"))
{
	<a asp-controller="Category" asp-action="CreateCategory">Create Category</a>
}


@foreach (var category in Model)
{
	<div>
		<strong>@category.Name</strong>
		<div>
			@category.Description
		</div>
		
		@if (User.IsInRole("Admin"))
		{
			<form asp-controller="Category" asp-action="EditCategory" method="get">
				<input type="hidden" name="categoryId" value="@category.Id" />
				<button type="submit">Edit</button>
			</form>

			<form method="post" asp-controller="Category" asp-action="DeleteCategory">
				<input type="hidden" name="categoryId" value="@category.Id" />
				<button type="submit" class="btn btn-danger">Delete</button>
			</form>
		}

		<form method="get" asp-controller="Post" asp-action="ListPostsAccordingToCategory">
			<input type="hidden" name="categoryId" value="@category.Id" />
			<button type="submit" class="btn btn-danger">Go to posts</button>
		</form>

		<br />
	</div>
}
